#footer{
    display: flex;
    align-items: center;
    column-gap: 60px;
    p{
        color: gray;
    }
   
}
.footer {
    .textCopy{
        margin-top: 200px;
        text-align: center;
        color: gray;
        padding: 2rem;
    
    }
    margin-top: 50px;
  color: white;
  background-color: #27272b;
  .tasty {
    width: 350px;
  }
  .opening {
    width: 350px;
  }
  .contact{
    width: 350px;
    
  }
}
